<p>
  Table Sort example
</p>

<div class="col-md-12">
  <table id="personTable" class="table table-responsive table-hover">

    <tr>
      <th class="pointer" (click)="sortData('firstName')">First Name</th>
      <th class="pointer" (click)="sortData('lastName')">Last Name</th>
      <th class="pointer" (click)="sortData('age')">Age</th>
    </tr>

    <tr *ngFor="let person of persons">
      <td>{{person.firstName}}</td>
      <td>{{person.lastName}}</td>
      <td>{{person.age}}</td>
    </tr>
  </table>
</div>
