p {
  font-family: Lato;
}

#personTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#personTable td,
#personTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#personTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#personTable tr:hover {
  background-color: #ddd;
}

#personTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: peru;
  color: white;
}

p {
  font-family: Lato;
}

.pointer {
  cursor: pointer;
}
